body {
    background-color: rgb(50, 146, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h1 img {
    width: 100%;
    height: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group i {
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
}

.form-group input, .form-group select {
    width: calc(100% - 40px);
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

 button[type="submit"] {
    background-color: rgb(47, 185, 231);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 4px 2px;
    width:300px ;
}

button[type="submit"] i {
    margin-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 146, 197);
    padding: 10px;
}

footer p {
    color: white;
}

footer p a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
footer i {
    color: white;
    margin-right: 10px;
}

footer .year {
    color: white;
    padding-right: 10px;
}