#titulo{
    color: rgb(72, 189, 183);
}
p > strong{
    color: red;
}
.destacado{
    color: rgb(231, 194, 29);
}
#subtitulo{
    color: blue;
}
h2+p a {
    color: red;
}
h2+p a em{
    color: blue;
} 
.especial{
    color: rgb(202, 17, 226);
}

#adicional p a{
     color: green;
}
caption{
    color: blue;
}
th{
    color: red;
}
td{
    color: green;
}
tr .especial{
    color: rgb(218, 199, 29);
}
td em{
    font-style: italic;
}
td strong{
    color: rgb(218, 199, 29);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#adicional{
    color: rgb(89, 146, 51);
}
#especial{
    color: fuchsia;
}