body {
    background-color: rgb(245, 245, 225);
    margin: auto;
    min-height: 100vh; /* Asegura que el body cubra toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(Patrones/bg_verde.png);
    margin: 0 auto;
    height: 240px;
    width: 100%; /* Asegura que el fondo verde cubra todo el ancho */
}

header > img {
    padding: 20px;
}

i {
    float: right;
    padding: 5px;
    opacity: 0.5;
}

ul {
    padding: 10; /* Elimina el padding por defecto de la lista */
    margin: 0; /* Elimina el margen por defecto de la lista */
    list-style-type: none; /* Elimina los bullets de la lista */
    display: flex; /* Usa flexbox para alinear los elementos de la lista */
    justify-content: space-between; /* Distribuye el espacio entre los elementos de la lista */
}

ul > li {
    display: inline;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#iniciarSesion {
    text-align: right;
    margin-left: auto; /* Alinea Iniciar Sesión a la derecha */
}

hr {
    border: 1px dashed white;
    opacity: 0.5;
}

form {
    background-color: rgb(218, 214, 214);
    padding: 10px;
    width: 100%; /* Ajusta el ancho del form */
    max-width: 1880px; /* Asegura que el form no sea más ancho que 1880px */
    height: 410px;
    margin: 10px 20px; /* Ajusta los márgenes */
    border-radius: 10px;
    flex: 1; /* Permite que el form crezca para llenar el espacio disponible */
}

form p {
    font-size: small;
}

#mayusculas {
    font-size: large;
}

footer {
    background-image: url(Patrones/bg_gris.png);
    width: 100%; /* Asegura que el fondo gris cubra todo el ancho */
    height: 220px;
    text-align: center;
    padding: 5px;
    margin-top: auto; /* Empuja el footer al final del body */
}

footer p {
    color: white;
}

footer img {
    padding: 20px;
    margin-right: 30px;
}

footer img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

mark {
    background-color: rgb(218, 214, 214);
    color: red;
}