@media (max-width: 480px) {
    header {
        height: auto; /* Ajusta la altura automáticamente */
    }

    header > img {
        width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    ul > li {
        padding: 3px;
        font-size: small;
    }

    form {
        padding: 5px;
        margin: 5px;
    }

    footer {
        height: auto;
    }

    footer img {
        margin: 5px;
        width: 100%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
    }
}

body {
    background-color: rgb(245, 245, 225);
    margin: auto;
    min-height: 100vh; /* Asegura que el body cubra toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(Patrones/bg_verde.png);
    margin: 0 auto;
    height: 240px;
    width: 100%; /* Asegura que el fondo verde cubra todo el ancho */
}

header > img {
    padding: 20px;
    max-width: 100%; 
    height: auto; 
}

i {
    float: right;
    padding: 5px;
    opacity: 0.5;
}

ul {
    padding: 10px; 
    margin: 0; 
    list-style-type: none; 
    display: flex; 
    justify-content: space-between; 
}

ul > li {
    display: inline;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#iniciarSesion {
    text-align: right;
    margin-left: auto; 
}

hr {
    border: 1px dashed white;
    opacity: 0.5;
}

form {
    background-color: rgb(218, 214, 214);
    padding: 10px;
    width: 90%; 
    max-width: 800px; /* Asegura que el form no sea más ancho que 800px */
    height: auto; 
    max-height: 90vh; 
    margin: 10px auto;
    border-radius: 10px;
    flex: 1; /* Permite que el form crezca para llenar el espacio disponible */
    overflow-y: auto;
}

form p {
    font-size: small;
}

#mayusculas {
    font-size: large;
}

footer {
    background-image: url(Patrones/bg_gris.png);
    width: 100%; 
    height: auto; 
    text-align: center;
    padding: 5px;
    margin-top: auto; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

footer p {
    color: white;
    width: 100%; 
    text-align: center; 
}

footer .footer-images {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    width: 100%; 
}

footer img {
    padding: 20px;
    margin: 10px; 
    width: auto; 
    max-width: 100px; 
}

footer img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

mark {
    background-color: rgb(218, 214, 214);
    color: red;
}